@charset "utf-8";
@import "vendor/base";
@import "vendor/layout";

body {
	border-top: 8px solid #EEE;
}

.content {
	padding: 40px 20px;
}

#intro {
	padding: 40px 20px;
	text-align: center;

	img {
		border-radius: 3px;
		height: auto;
		margin-bottom: 20px;
		max-width: 440px;
		width: 100%;
	}
}