@charset "utf-8";
@import "vendor/base";
@import "vendor/layout";
@import "../../type/opensans/config.css";

.grid {
	max-width: 1000px;
	padding: 0 20px;
}

body {
	background: #EEE;
	font-family: 'OpenSansReg';
}

#head {
	background: #F0603C;
	color: #FFF;
	padding: 30px 0;

	a {
		background: #DB3911;
		border-radius: 4px;
		color: #FFF;
		display: inline-block;
		float: right;
		font-family: 'OpenSansBold';
		font-size: 12px;
		padding: 8px 10px;

		&:hover {
			background: #444;
			color: #FFF;
		}

		&:active {
			box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.2);
		}
	}
}

h1 {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
}

#content {
	background: #FFF;
	padding: 70px 0;
}

ul {
	list-style: none;
	margin: 0 auto;
	text-align: left;

	li {
		+ li {
			border-top: 1px dotted #DADADA;
			margin-top: 20px;
			padding-top: 20px;
		}

		pre {
			background: none;
			white-space: normal;
			word-wrap: break-word;

			code {
				color: #A00;
			}
		}
	}
}

small {
	color: #777;
	font-size: 11px;
}

#request {
	background: #F0F0F0;
	border-radius: 5px;
	color: #333;
	font-size: 11px;
	word-wrap: break-word;

	h2 {
		background: #444;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #EEE;
		font-size: 13px;
		padding: 14px 10px;
	}

	h6 {
		background: #E0E0E0;
		color: #5F5F5F;
		font-size: 12px;
		padding: 10px;
	}

	p,
	pre {
		background: none;
		padding: 10px;
	}
}

#foot {
	color: #777;
	font-size: 11px;
	padding: 20px 0;

	a {
		color: #F0603C;

		&:hover {
			color: #000;
		}
	}
}

@media screen and (max-width: 800px) {
	.column {
		float: none;
		width: 100% !important;
	}

	.column + .column {
		margin-top: 60px;
	}
}