{% set title = config.title ~ ' - Page Not Found' %}

{% set meta = [
	{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
	{ name: 'robots', context: 'noindex, nofollow' }
] %}

{% extends '_layouts/doc.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ link('/css/tempest.css') }}">
{% endblock %}

{% block body %}
	<div class="error content text-center">
		<h1>404</h1>
		<p>This resource does not exist. Go back to our <a href="{{ link('/') }}">homepage</a>.</p>
	</div>
{% endblock %}