{% set title = config.title ~ ' - Internal Server Error' %}

{% set meta = [
	{ name: 'viewport', content: 'width=device-width, initial-scale=1' },
	{ name: 'robots', context: 'noindex, nofollow' }
] %}

{% extends '_layouts/doc.html' %}

{% block body %}
	<h1><a href="{{ link('/') }}">{{ title }}</a></h1>

	{% block content %}
		<ul>
			{% for error in errors %}
				<li>
					<pre>{{ error.getString() }}</pre>
					<p><small><span title="{{ error.getFile() }}">{{ error.getShortFile() }}</span> &middot; Line {{ error.getLine() }}</small></p>
				</li>
			{% endfor %}
		</ul>
	{% endblock %}

	<table border="1" cellpadding="4">
		<thead>
			<tr>
				<th colspan="2">Request data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>URI</th>
				<td>{{ request.value }}</td>
			</tr>
			<tr>
				<th>Get</th>
				<td>{{ request.data('get') | json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
			</tr>
			<tr>
				<th>Post</th>
				<td>{{ request.data('post') | json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
			</tr>
			<tr>
				<th>Named</th>
				<td>{{ request.data('named') | json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}