@charset "utf-8";
@import "base.css";
@import "../type/opensans/config.css";
@import "../type/icomoon/config.css";

body
{
	background: #EEE;
	font-family: 'OpenSansReg';
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong
{
	font-family: 'OpenSansBold';
	font-weight: normal;
}


h1
{
	padding-top: 40px;
	padding-bottom: 15px;
	font-size: 19px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

table
{
	width: 100%;
	background: #FFF;
	color: #555;
}

table > thead
{
	background: #F9F9F9;
	font-family: 'OpenSansLight';
	font-size: 12px;
}

table td
{
	border: 1px solid #DDD;
	line-height: 20px;
}

code
{
	font-size: 12px;
}

.grid
{
	width: auto;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
}

a
{
	color: #BF5230;
}

button,
a.button
{
	display: inline-block;
	background: #EEE;
	color: #888;
	height: 28px;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 3px;
	font-size: 12px;
	font-family: 'OpenSansBold';
}

button:hover,
a.button:hover
{
	color: #FFF;
	background: #BF5230;
}

button:active,
a.button:active
{
	box-shadow: inset 0 1px 8px rgba(0,0,0,0.2);
}

div#head
{
	background: #8C2300;
	color: #FFF;
}

div#navigation
{
	background: #A62800;
	height: 46px;
	line-height: 46px;
	overflow: hidden;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

div#navigation > ul
{
	list-style: none;
}

div#navigation > ul > li
{
	display: inline;
}

div#navigation > ul > li > a
{
	display: inline-block;
	float: left;
	color: #D39480;
	font-family: 'OpenSansReg';
	padding: 0 10px;
}

div#navigation > ul > li:first-child > a
{
	background: #9D2700;
}

div#navigation > ul > li > a:hover,
div#navigation > ul > li > a.current
{
	color: #FFF;
	background: #BF5230;
}

div#content
{
	background: #EEE;
	padding: 50px 0;
}

div#foot
{
	text-align: center;
	color: #BBB;
	font-size: 10px;
}

div.boxcolumns > ul
{
	float: left;
	padding: 0;
	width: 33%;
	list-style: none;
}

div.boxcolumns > ul > li,
div.box
{
	display: block;
	background: #FFF;
	overflow: hidden;
	border: 1px solid #CCC;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	border-radius: 3px;
	margin: 0 8px;
}

div.boxcolumns > ul > li + li,
div.box + div.box
{
	margin-top: 16px;
}

div.boxcolumns > ul > li > h3,
div.box > h3
{
	font-weight: normal;
	font-family: 'OpenSansBold';
	font-size: 15px;
	color: #A62800;
	padding: 15px;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	background: #F9F9F9;
	line-height: 22px;
}

div.boxcolumns > ul > li > h3 > code,
div.box > h3 > code
{
	display: inline-block;
	float: right;
}

div.boxcolumns > ul > li > div.pad,
div.boxcolumns > ul > li > form,
div.box > div.pad,
div.box > form
{
	padding: 15px;
}

div.boxcolumns > ul > li > table td:first-child,
div.box > table td:first-child{ border-left: none; }

div.boxcolumns > ul > li > table td:last-child,
div.box > table td:last-child{ border-right: none; }

div.boxcolumns > ul > li > table:last-child tr:last-child > td,
div.box > table:last-child tr:last-child > td{ border-bottom: none; }

div.boxcolumns > ul > li > table:first-child thead tr:first-child > td,
div.box > table:first-child thead tr:first-child > td,
div.boxcolumns > ul > li > h3 + table thead tr:first-child > td,
div.box > h3 + table thead tr:first-child > td{ border-top: none; }