<!DOCTYPE html>
<html lang="en-GB" class="{{ t.platform.getClasses() }}">
	<head>
		<title>{{ title is defined ? title : config.title }}</title>

		{% block meta %}
			<meta charset="utf-8">
			{% if meta is defined %}
				{% for item in meta %}
					<meta name="{{ item.name }}" content="{{ item.content }}">
				{% endfor %}
			{% endif %}
		{% endblock %}

		{% block css %}
			{# Include common CSS here. #}
		{% endblock %}

		{% if ga is defined %}
			{% include '_components/ga.html' with { account: ga } %}
		{% endif %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{% block js %}
			{# Include common JavaScript here. #}
		{% endblock %}
	</body>
</html>