<!DOCTYPE html>
<html lang="en" class="no-js {{ tempest.platform.getClasses() }}">
	<head>
		<title>{{ title is defined ? title : config.title }}</title>

		{% block meta %}
			<meta charset="utf-8">
			{% if meta is defined %}
				{% for item in meta %}
					<meta name="{{ item.name }}" content="{{ item.content }}" />
				{% endfor %}
			{% endif %}
		{% endblock %}

		{% block css %}
			<link rel="stylesheet" href="/css/app.css">
		{% endblock %}

		{% if ga is defined %}
			{% include '_components/ga.html' with { account: ga } %}
		{% endif %}
	</head>
	<body>
		{% block body %}{% endblock %}

		{% block js %}
			<script src="/js/vendor.js"></script>
			<script src="/js/tempest.js"></script>
			<script src="/js/app.js"></script>
		{% endblock %}
	</body>
</html>