{% set title = exception.message %}

{% extends '@tempest/_layouts/framework.html' %}

{% block css %}
	{{ parent() }}

	<style>
		ul {
			list-style: none;
		}

		li + li {
			margin-top: 12px;
		}

		small {
			display: block;
			padding-top: 5px;
			color: #666;
		}
	</style>
{% endblock  %}

{% block content %}
	<ul>
		<li><code>{{ exception.file }}</code><small>Line {{ exception.line }}.</small></li>

		{% for item in exception.trace %}
			<li>
				<code>{{ item.class }}::<strong>{{ item.function }}()</strong></code><small>Line {{ item.line }}.</small>
			</li>
		{% endfor %}
	</ul>
{% endblock %}