{% set title = '500 Internal Server Error.' %}

{% extends '@tempest/_layouts/framework.html' %}

{% block css %}
	{{ parent() }}

	<style>
		ul {
			list-style: none;
		}

		li + li {
			margin-top: 20px;
		}

		small {
			display: block;
			padding-top: 5px;
			color: #888;
		}

		.error {
			color: #C00;
			margin-bottom: 30px;
		}
	</style>
{% endblock  %}

{% block content %}
	<p class="error"><strong>{{ exception.message }}</strong><br>{{ exception.file }} on line {{ exception.line }}.</p>

	<ul>
		{% for item in exception.trace %}
			<li>
				<code>{% if item.class %}{{ item.class }}::{% endif %}<strong>{{ item.function }}()</strong></code>
				{% if item.line and item.file %}<small>{{ item.file }} on line {{ item.line ?: '??' }}.</small>{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}