@charset "utf-8";
@import "base.css";
@import "../type/opensans/config.css";

.grid
{
	max-width: 840px;
	padding: 0 20px;
}

body
{
	background: #F8F8F8;
	font-family: 'OpenSansReg';
}

hgroup
{
	background: #7A2C2C;
	color: #FFF;
	padding: 30px 0;
	margin-bottom: 40px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.06);
}

h1
{
	font-size: 20px;
	text-transform: uppercase;
}

ul
{
	margin: 0 auto;
	text-align: left;
	margin-bottom: 30px;
	list-style: none;
	margin-top: 30px;
	background: #E9E9E9;
	border-radius: 2px;
}

ul > li
{
	padding: 16px 20px;
}

ul > li + li
{
	border-top: 4px solid #F8F8F8;
}

ul > li > p > code
{
	color: #CF3610;
}

ul > li > pre
{
	background: #AAA;
	color: #111;
	font-size: 12px;
	margin: 10px 0;
	padding: 10px 0;
	overflow: auto;
}

ul > li > pre > div
{
	padding: 4px 12px;
}

ul > li > pre > div[data-line='3']
{
	background: #7A2C2C;
	color: #EEE;
}

small
{
	font-size: 11px;
	color: #777;
}

a#home
{
	display: inline-block;
	background: #EEE;
	color: #888;
	padding: 8px 10px;
	border-radius: 2px;
	font-size: 12px;
	font-family: 'OpenSansBold';
}

a#home:hover
{
	background: #F0603C;
	color: #FFF;
}