@charset "utf-8";
@import "base.css";
@import "../type/opensans/config.css";

.grid
{
	max-width: 1000px;
	padding: 0 20px;
}

body
{
	background: #EEE;
	font-family: 'OpenSansReg';
}

div#head
{
	background: #F0603C;
	color: #FFF;
	padding: 30px 0;
}

div#head a
{
	display: inline-block;
	background: #DB3911;
	color: #FFF;
	padding: 8px 10px;
	border-radius: 4px;
	font-size: 12px;
	font-family: 'OpenSansBold';
	float: right;
}

div#head a:hover
{
	background: #444;
	color: #FFF;
}

div#head a:active
{
	box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.2);
}

h1
{
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
}

div#content
{
	padding: 70px 0;
	background: #FFF;
}

ul
{
	margin: 0 auto;
	text-align: left;
	list-style: none;
}

ul > li + li
{
	border-top: 1px dotted #DADADA;
	margin-top: 20px;
	padding-top: 20px;
}

ul > li > pre
{
	background: none;
	word-wrap: break-word;
}

ul > li > pre > code
{
	color: #A00;
}

small
{
	font-size: 11px;
	color: #777;
}

div#request
{
	background: #F0F0F0;
	color: #333;
	font-size: 11px;
	word-wrap: break-word;
	border-radius: 4px;
}

div#request h2
{
	background: #444;
	color: #EEE;
	padding: 14px 10px;
	font-size: 13px;
}

div#request h6
{
	padding: 10px;
	font-size: 12px;
	background: #E0E0E0;
	color: #5F5F5F;
}

div#request p,
div#request table td
{
	padding: 10px;
	font-family: 'Consolas', monospace;
}

div#request table
{
	width: 100%;
}

div#request table tr + tr td
{
	padding-top: 0px;
}

div#request table td + td
{
	color: #777;
	text-align: right;
}

div#foot
{
	padding: 20px 0;
	font-size: 11px;
	color: #777;
}

div#foot a
{
	color: #F0603C;
}

div#foot a:hover
{
	color: #000;
}


@media screen and (max-width: 800px)
{
	div.column
	{
		width: 100% !important;
		float: none;
	}

	div.column + div.column
	{
		margin-top: 30px;
	}
}