@charset "utf-8";
@import "base.css";
@import "../type/opensans/config.css";

.grid
{
	max-width: 700px;
	padding: 0 20px;
}

body
{
	background: #F8F8F8;
	font-family: 'OpenSansReg';
}

p + p
{
	margin: 0;
}

hgroup
{
	background: #F0603C;
	color: #FFF;
	height: 120px;
	line-height: 120px;
	font-weight: normal;
	font-family: 'OpenSansBold';
	text-transform: uppercase;
	margin-bottom: 50px;
}

h1
{
	font-size: 22px;
}

ul
{
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 30px;
	list-style: none;
	margin-top: 30px;
	background: #E9E9E9;
	border-radius: 2px;
}

ul > li
{
	padding: 16px 20px;
}

ul > li + li
{
	border-top: 4px solid #F8F8F8;
}

ul > li > p > code
{
	color: #CF3610;
}

small
{
	font-size: 11px;
	color: #777;
}

a#home
{
	display: inline-block;
	background: #EEE;
	color: #888;
	padding: 8px 10px;
	border-radius: 2px;
	font-size: 12px;
	font-family: 'OpenSansBold';
}

a#home:hover
{
	background: #F0603C;
	color: #FFF;
}