<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Application Error</title>
		<base href="~/">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="~/static/css/tempest.css">
	</head>
	<body>
		<hgroup>
			<h1 class="grid">Application Error</h1>
		</hgroup>

		<div class="grid">
			<p>We're having trouble with your request - errors encountered are listed below.</p>

			<ul id="errors">{{ errors }}</ul>
			<a id="home" href="~/">Homepage</a>
		</div>
	</body>
</html>