<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Application Error</title>
		<base href="~/">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="~/static/css/tempest.css">
	</head>
	<body>
		<hgroup>
			<h1 class="grid"><span class="icon heart-broken"></span> Application Error</h1>
			<h6 class="grid">We're having trouble with your request.</h6>
		</hgroup>

		<div class="grid">
			<ul id="errors">{{ errors }}</ul>
			<a id="home" href="~/"><span class="icon home2"></span> Return</a>
		</div>
	</body>
</html>