<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ T_SITE_TITLE }} - {{ title }}</title>
		<base href="~/">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="~/static/css/tempest.css">
	</head>
	<body>
		<div id="head">
			<div class="grid">
				<h1>{{ title }}</h1>
				<a href="~/">Return</a>
			</div>
		</div>

		<div id="content">
			<div class="grid">
				<div class="column sixty">
					{{ content }}
				</div>
				<div class="column thirty-five right">
					<div id="request">
						<h2>REQUEST</h2>
						<h6>URI</h6>
						<p>{{ uri }}</p>
						
						<h6>GET</h6>
						<table>
							<tbody>{{ get }}</tbody>
						</table>
						
						<h6>POST</h6>
						<table>
							<tbody>{{ post }}</tbody>
						</table>
						
						<h6>NAMED</h6>
						<table>
							<tbody>{{ named }}</tbody>
						</table>
					</div>
				</div>

				<div class="clear"></div>
			</div>
		</div>

		<div id="foot">
			<div class="grid">
				<p><a target="_blank" href="https://github.com/MartyWallace/Tempest">Tempest version {{ version }}</a> &middot; Developed by Marty Wallace.</p>
			</div>
		</div>
	</body>
</html>