<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<base href="~/">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="~/static/css/tempest.css">
	</head>
	<body>
		<div id="head">
			<div class="grid">
				<h1>{{ title }}</h1>
				<a href="~/">Return</a>
			</div>
		</div>

		<div id="content">
			<div class="grid">
				{{ content }}
			</div>
		</div>

		<div id="foot">
			<div class="grid">
				<p><a target="_blank" href="https://github.com/MartyWallace/Tempest">Tempest version {{ version }}</a>, developed by Marty Wallace.</p>
			</div>
		</div>
	</body>
</html>