{% set title = 'Exception' %}

{% extends '_tempest.html' %}

{% block box %}
  <h1>Exception</h1>

  {% if app.dev %}
    <blockquote>
      <strong>{{ exception.getMessage() }}</strong><br>
      <small>{{ exception.getFile() }} at L{{ exception.getLine() }}</small>
    </blockquote>

    <h2>Trace</h2>

    <ul>
      {% for trace in exception.getTrace() %}
        <li>
          {% if trace.class %}
            <code>{{ trace.class }}{{ trace.type }}{{ trace.function }}()</code>
          {% else %}
            <code>{{ trace.function }}</code>
          {% endif %}

          {% if trace.file and trace.line %}
            <br><small>{{ trace.file }} at L{{ trace.line }}</small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>The application threw an exception. You can view the details of this exception by placing your application into development mode.</p>
  {% endif %}
{% endblock %}