{% set title = 'Welcome!' %}
{% set theme = 'ok' %}

{% extends '@tempest/_layouts/framework.html' %}

{% block css %}
	{{ parent() }}

	<style>
		p {
			margin-bottom: 20px;
		}

		table {
			border-collapse: collapse;
			width: 50%;
			margin-bottom: 20px;
		}

		th, td {
			text-align: left;
			padding: 10px 12px;
			border: 1px solid #DDD;
		}

		ul {
			padding-left: 20px;
		}
	</style>
{% endblock %}

{% block content %}
	<p>Everything is working correctly!</p>

	<table>
		<tbody>
			<tr>
				<th>URL</th>
				<td><a href="{{ app.url }}">{{ app.url }}</a></td>
			</tr>
			<tr>
				<th>Port</th>
				<td>{{ app.port }}</td>
			</tr>
			<tr>
				<th>Dev Mode</th>
				<td>{{ app.dev ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Timezone</th>
				<td>{{ app.timezone }}</td>
			</tr>
			<tr>
				<th>Environment</th>
				<td>{{ app.environment }}</td>
			</tr>
			<tr>
				<th>Root</th>
				<td>{{ app.root }}</td>
			</tr>
		</tbody>
	</table>

	{% block help %}{% endblock %}
{% endblock %}

{% block footer %}
	<p>Get started on <a target="_blank" href="https://github.com/MartyWallace/Tempest">GitHub</a>.</p>
{% endblock %}