<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ T_SITE_TITLE }} - Success!</title>
		<base href="~/">

		<meta charset="utf-8">
		<meta name="request" content="{{ T_REQUEST_DATA }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="~/static/css/layout.css">
	</head>
	<body>
		{{ content }}

		<script src="~/static/js/vendor/common.js"></script>
		<script src="~/static/js/vendor/tempest.js"></script>
		<script src="~/static/js/app.js"></script>
	</body>
</html>